.App {
  text-align: center;
  min-height: 100vh;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media print {
  #no-print {
    display: none;
  }

	.inputs  {
    display: none;
	}
}

.botao {
	margin-top: 30px;
}

.touper {
	text-transform: uppercase;
}

.bg-light {
  background: #010470 !important;
  padding: 30px 20px 30px 20px;
}
